/**
 * Estilo de la Administración.
 *
 * InfoSmart. Todos los derechos reservados.
 * Copyright 2012 - Iván Bravo Bravo.
 * http://www.infosmart.mx/
**/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans:400,300,600,700);

/* Predeterminado */

.s
{
	color: green;
	display: block;
	font-size: 12px;
	margin: 10px 0;
}

.red
{
	color: red;
}

.orange
{
	color: orange;
}

#notes-save
{
	display: none;
}

/* Cabecera */

header
{
	background: #FAFAFA;
	border-bottom: 4px solid #444444;
	padding: 15px 0;
}

header h1
{
	font-family: "Open Sans", Segoe UI, Arial;
	font-size: 50px;
	font-weight: 600;
	line-height: 55px;
	margin-top: 0;
	margin-bottom: 0;
}

/* Contenido */

.content
{
	padding: 10px 0;
}

.content h2
{
	color: #444;
	font-size: 30px;
	font-family: "Open Sans", Segoe UI, Arial;
	font-weight: 600;
	line-height: 35px;
}

.content h3,
.content summary
{
	font-size: 25px;
	font-family: "Open Sans";
	font-weight: 300;
	line-height: 30px;
	margin: 20px 0;
	margin-bottom: 25px;
}

.content .c1
{
	float: left;
	margin-right: 15px;
	width: 180px;
}

.content .c2
{
	float: left;
	width: 750px;	
}

.content .c3
{
	float: left;
	width: 340px;
}

.content .c4
{
	float: right;
	width: 400;
}

.content section
{
	padding: 30px 0;
	border-bottom: 2px solid #666;
}

.content section:first-child
{
	padding-top: 0;
}

.content section:last-child
{
	border-bottom: 0;
}

.content .link
{
	border: 1px solid #D8D8D8;
	border-top: 0;
	display: block;
	padding: 10px;
	color: #6D6D6D;

	-webkit-transition: all .4s ease-in-out;
}

.content .link:first-child
{
	border-top: 1px solid #D8D8D8 !important;
}

.content .link *
{
	cursor: pointer;
}

.content .link:hover
{
	background: #F5F5F5;
	box-shadow: 1px 1px 3px #D8D8D8 inset;
	text-decoration: none;
	color: black;
}

/* Contenido - Navegación */

.content .c1 nav a
{
	color: #777;
	display: block;
	padding: 10px 0;
	padding-left: 10px;
	font-size: 13px;
}

.content .c1 nav a:hover
{
	color: #444;
	background: #F2F2F2;
}

.content .c1 nav a:last-child
{
	border-bottom: 0;
}

/* Contenido - Contador grande */

.content .count_big .left
{
	font-family: "Open Sans", Segoe UI, Arial;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	padding-top: 60px;
	width: 340px;
}

.content .count_big .right
{
	color: black;
	font-family: "Open Sans", Segoe UI, Arial;
	font-size: 120px;
	text-align: center;
	width: 400px;
}

/* Formulario */

form.col p
{
	display: inline-block;
	height: 80px;
	margin: 0 10px;
	width: 350px;
}

.notes
{
	height: 100px;
	width: 95%;
}

input:not([type='submit'])
{
	width: 350px;
	height: 23px;
	padding: 5px;
}

/* Pie de página */

footer
{
	border-top: 2px solid #444444;
	padding: 15px 0;
	font-size: 12px;
	color: #666;
}

/* Tablas */

.intable
{
	border-collapse: collapse;
	border: 1px solid #D8D8D8;
	font-family: "Segoe UI", Open Sans, Ubuntu, Arial;
	width: 100%;
}

.intable thead tr
{
	background: #F5F5F5;
	border-bottom: 1px solid #D8D8D8;
}

.intable thead tr th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
}

.intable thead th
{
	text-align: left;
	padding: 3px 15px;
}

.intable tbody tr
{
	border-bottom: 1px solid #EBEBEB;
	border-collapse: collapse;
	border-top: 1px solid white;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}

.intable tbody tr:last-child
{
	border-bottom-color: #D8D8D8;
}

.intable tbody tr:hover
{
	color: black;
	cursor: default !important;
}

.intable tbody tr:nth-child(even):hover,
.intable tbody tr:nth-child(odd):hover
{
	background: rgba(206, 227, 246, .3);
}

.intable tbody tr:nth-child(odd)
{
	background: white;
}

.intable tbody tr:nth-child(even)
{
	background: #F4F4F4;
}

.intable tbody tr th
{
	font-weight: normal;
	padding: 8px 15px;
}

/* Cajas informativas */

.page .box-error,
.page .box-correct,
.page .box-info 
{
	border-radius: 1px;	
	cursor: default;	
	display: none;
	font-size: 13px;
	font-family: Arial !important;
	list-style: none;
	margin: 20px 0;
	padding: 8px 10px;
	vertical-align: baseline;
	width: 95%;
	
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-trasition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.page .box-error.ic:before,
.page .box-correct.ic:before,
.page .box-info.ic:before
{
	font-family: "Icon";
	font-size: 19px;
	float: left;
	margin-right: 10px;
}

.page .box-error ul,
.page .box-correct ul,
.page .box-info ul
{
	margin-top: 10px;
}

.page .box-error li,
.page .box-correct li,
.page .box-info li
{
	font-size: 11px;
}

.page .box-error li:before,
.page .box-correct li:before,
.page .box-info li:before
{
	content: "» ";
} 

.page .box-error a,
.page .box-correct a,
.page .box-info a 
{
	color: black !important;
	text-decoration: underline;
}

.page .box-correct 
{
	background: #E0F8E0;
	border: 1px solid #04B404;
	color: #0B3B0B;
}

.page .box-correct.ic:before
{
	content: "> ";
}

.page .box-info 
{
	background: #F2F2F2;
	border: 1px solid #848484;
	color: #424242;
}

.page .box-error
{
	background: #F5A9A9;
	border: 1px solid #B40404;
	color: #610B0B;
}

.page .box-error.ic:before
{
	content: "? ";
}