<html>
	<head>
		 
	</head>
	<body style="color: #444444 !important; font-family: Arial; font-size: 12px; margin: 0; padding: 0;">
		<h2 style="background: #F5F5F5; border: 1px solid #D8D8D8; border-radius: 1px; color: #1C1C1C !important; font-size: 23px; font-weight: 300; line-height: 35px; margin: 15px 0; padding: 20px 15px; font-family: Open Sans, Droid Sans, Segoe UI, Arial;">Nos hemos recuperado de una perdida en "<?=(defined('SITE_NAME')) ? SITE_NAME : PATH?>"</h2>
		
		<p>
			Se ha enviado este correo electrónico para notificarle que BeatRock ha recuperado la base de datos en <a href="<?=PATH?>"><?=(defined('SITE_NAME')) ? SITE_NAME : PATH?></a>.<br />
			Esto significa que debido a un accidente o (y esperemos que no) un ataque de seguridad se ha eliminado la base de datos, no se preocupe, BeatRock ha podido recuperar la información sin problemas y sus visitantes pueden usar tranquilamente su aplicación.
		</p>

		<p>
			Sin embargo le recomendamos investigar acerca de este problema lo más pronto posible para evitar futuras perdidas.
		</p>

		<br /><br />
		
		<cite>Este correo electrónico ha sido enviado automaticamente por el sistema de BeatRock en tu sitio web. Los mensajes enviados a la misma no serán leidos ni procesados.</cite>

		<br /><br />
		
		<p>
			<b><?=SITE_NAME?></b><br />
			<?=PATH?><br />
			Todos los derechos reservados.
		</p>
	</body>
</html>