<?
## --------------------------------------------------
## PLANTILLA DE CORREO PARA REPORTE DE ERRORES.
## --------------------------------------------------

$details = Bit::$details;
?>
<html>
	<head>
		 
	</head>
	<body style="color: #444444 !important; font-family: Open Sans, Droid Sans, Segoe UI, Arial; font-size: 12px; margin: 0; padding: 0;">
		<h2 style="background: #F5F5F5; border: 1px solid #D8D8D8; border-radius: 1px; color: #1C1C1C !important; font-size: 23px; font-weight: 300; line-height: 35px; margin: 15px 0; padding: 20px 15px; font-family: Open Sans, Droid Sans, Segoe UI, Arial;">Ha ocurrido un problema en <?=(defined('SITE_NAME')) ? SITE_NAME : PATH?></h2>
		
		<p>
			Se ha enviado este correo electrónico para notificarle que ha ocurrido un problema en <a href="<?=PATH?>"><?=(defined('SITE_NAME')) ? SITE_NAME : PATH?></a>.<br />
			Le recomendamos que solucione este problema lo más pronto posible para evitar posibles conflictos o amenazas de seguridad.
		</p>
		
		<p>
			A continuación se presenta más información:
		</p>
		
		<div class="info">
			<p>
				<span style="display: block; font-weight: bold;">Código de reporte:</span>
				<?=$details['report_code']?> <label style="color: gray; font-size: 11px;">(Puede buscarlo en la base de datos)</label>
				<br />
			</p>

			<p>
				<span style="display: block; font-weight: bold;">Código del error:</span>
				<?=$details['info']['code']?><br />
			</p>
			
			<p>
				<span style="display: block; font-weight: bold;">Titulo del error:</span>
				<?=$details['info']['title']?><br />
			</p>
				
			<p>
				<span style="display: block; font-weight: bold;">Detalles del error:</span>
				<?=$details['info']['details']?><br />
			</p>
			
			<p>
				<span style="display: block; font-weight: bold;">Dirección del error:</span>
				<?=PATH_NOW?><br />
			</p>
			
				<?
				if(is_array($details['res']))
				{
					foreach($details['res'] as $param => $value)
					{
						if(empty($value))
							continue;
											
						if($param == 'response')
							$param = 'Respuesta';
						if($param == 'file')
							$param = 'Archivo / Directorio';
						if($param == 'function')
							$param = 'Función';
						if($param == 'line')
							$param = 'Línea';
						if($param == 'out_file')
							$param = 'Archivo de salida';
						if($param == 'query')
							$param = 'Última consulta MySQL';
						if($param == 'last')
							$param = 'Último error PHP';
				?>
				<p>
					<span style="display: block; font-weight: bold;"><?=$param?>:</span> <?=$value?><br />
				</p>
				<? } } ?>

			<p>
				<span style="display: block; font-weight: bold;">Información del usuario:</span>
				<?=_r($my)?><br />
			</p>

			<p>
				<span style="display: block; font-weight: bold;">Dirección IP del visitante:</span>
				<?=IP?><br />
			</p>
		</div>

		<br /><br />
		
		<cite>Este correo electrónico ha sido enviado automaticamente por el sistema de BeatRock en tu sitio web. Los mensajes enviados a la misma no serán leidos ni procesados.</cite>

		<br /><br />
		
		<p>
			<b><?=(defined('SITE_NAME')) ? SITE_NAME : PATH?></b><br />
			<?=PATH?><br />
			Todos los derechos reservados.
		</p>
	</body>
</html>