/**
 * InfoSmart Estilos - Base del sistema.
 *
 * Archivo de estilo predeterminado recomendado para
 * todas las aplicaciones de InfoSmart.
 *
 * InfoSmart. Todos los derechos reservados.
 * Copyright 2011 - Iván Bravo Bravo & Marco Arnoldo Molina Mayberry.
 * http://www.infosmart.mx/
**/

/* Descomenta para activar la tipografía "Open Sans"
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700&subset=latin,latin-ext);
*/
 
/* Predeterminado */

* { 
	margin: 0;
	padding: 0;
}

div::after,
p::after,
header::after,
footer::after,
nav::after,
section::after,
hgroup::after,
article::after,
details::after,
figure::after,
li::after,
aside::after {
	content: " ";
	display: block;
	
	clear: both;
	visibility: hidden;
}

body {	
	color: #595959;
	background: transparent;
	
	font-family: "Segoe UI", Lucida Grande, Arial, sans-serif;
	cursor: url("../images/cur/Normal.cur"), auto;
	
	font-size: 12px;	
	line-height: 20px;
	
	text-align: left;
	direction: ltr;
}

img {
	-ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeSpeed;
}

label, span, b, h1, h2, h3, h4, p, form, i, s, a {
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: none;
}

a {
	cursor: pointer;	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

nav a:hover {
	text-decoration: none;
}

h3, h4 {
	margin: 10px 0;
}

h1, h2 {
	margin: 15px 0;
	opacity: .9;
}

p {
	margin: 10px 0;
}

img.mini {
	max-width: 50px;
	max-height: 60px;
}

img.small {
	max-width: 100px;
	max-height: 110px;
}

img.big {
	max-width: 300px;
	height: auto;
}

details summary {
	cursor: pointer;
}

.code {
	background: rgb(12, 16, 33);
	font-family: Consolas;
	
	color: orange;
}

/* Predeterminado - Formularios */

input, textarea, select {
	font-family: Lucida Grande, Arial, sans-serif;
	outline: 0;
	
	font-size: 12px;
	border: 1px solid #DFDFDF;
}

input, select {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

input:hover, textarea:hover, select:hover {
	border: 1px solid #AEAEAE;
}

input:focus, textarea:focus, select:focus {
	border: 1px solid #AEAEAE;
	box-shadow: 0 1px 3px rgba(132, 132, 132, .3) inset;
}

input[type='search'] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

form label,
label.f {
	display: block;
	margin: 5px 0;
	
	font-weight: bold;
	font-size: 13px;
}

label[for] {
	cursor: pointer;
}

textarea {
	padding: 5px 10px !important;
	border: 1px solid #DFDFDF;
}

input[type='submit'],
input[type='button'] {
	cursor: pointer;
}

/* Globales */

.page {
	width: 100%;
	height: 100%;
}

.page .wrapper {
	margin-left: 10px;
}

.page .left {
	float: left !important;
}

.page .right {
	float: right !important;
}

.page .center {
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
}

.page .none {
	display: none !important;
}

.page .block {
	display: block !important;
}

.page .box-error,
.page .box-correct,
.page .box-info {
	display: none;
	background: #F5A9A9;
	
	border: 1px solid #B40404;
	text-align: center;
	
	opacity: 0.9;	
	color: #610B0B;
	
	padding: 8px 10px;
	margin: 5px 0;
	
	list-style: none;
	cursor: default;	
	
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.page .box-correct {
	background: #E0F8E0 !important;
	border: 1px solid #04B404 !important;
	
	color: #0B3B0B !important;
}

.page .box-info {
	background: #F2F2F2 !important;
	border: 1px solid #848484 !important;
	
	color: #424242 !important;
}

/* HTML 5 */

details, summary { display: block; }
.no-details summary:hover, .no-details summary:focus { background: #ddd; }
.no-details details > * { display: none; }
.no-details details summary { display: block; cursor: pointer; }