<?xml version="1.0" encoding="ISO-8859-15"?>
<configuration>
	<configSections>
		<sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow" />
                <section name="rules" overrideModeDefault="Allow" />
            </sectionGroup>
        </sectionGroup>
    </configSections>

    <appSettings />
    <connectionStrings />

    <system.web>
        <!--
            Controladores de páginas
        -->
        <pages>
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </controls>
        </pages>

        <httpHandlers>
            <remove verb="*" path="*.php" />
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
        </httpHandlers>

        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </httpModules>
    </system.web>

    <system.webServer>
        <!--
            Opciones de servidor recomendadas
        -->
        <directoryBrowse enabled="false" />
        <validation validateIntegratedModeConfiguration="false" />
        <urlCompression doStaticCompression="true" />

        <security>
            <requestFiltering>
                <!--
                    Protección
                -->
                <denyUrlSequences>
                    <add sequence="shell" />
                    <add sequence="sh2ell" />
                    <add sequence="sh2ells" />
                    <add sequence="hell" />
                    <add sequence="she" />
                    <add sequence="C99" />
                    <add sequence="c99" />
                    <add sequence="Secret_Hash" />
                </denyUrlSequences>

                <!--
                     Denegar acceso a archivos delicados
                -->
                <fileExtensions>
                    <add fileExtension=".bak" allowed="false" />
                    <add fileExtension=".config" allowed="false" />
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".fla" allowed="false" />
                    <add fileExtension=".psd" allowed="false" />
                    <add fileExtension=".ini" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                    <add fileExtension=".sh" allowed="false" />
                    <add fileExtension=".inc" allowed="false" />
                    <add fileExtension=".swp" allowed="false" />
                    <add fileExtension=".dist" allowed="false" />
                    <add fileExtension=".tpl" allowed="false" />
                    <add fileExtension=".json" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>

        <modules>
            <remove name="ScriptModule" />
            <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </modules>

        <handlers>
            <remove name="WebServiceHandlerFactory-Integrated" />
            <remove name="ScriptHandlerFactory" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptResource" />
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </handlers>

    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>